body{
    background-image: url(golfCourse.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(0px);
}
#top-box{
    background-color: green;
    margin: 0 0 20px 0;
    padding-top: 0px;
}
#player-name-button{
    margin: 20px 0;
}
#playerNameInput{
    padding: 5px;
}
#lets-play{
    background-color: green;
}
.header-row td{
    background-color: green;
    color: black;
    font-weight: bold;
}